body {
  font-family: Georgia, serif;
}

.header {
  background-color: CornFlowerBlue;
  text-align: center;
}

h1 {
  color: Azure;
}

.about-me {
  font-size: 20px;
  opacity: 0.5;
}

.title {
  font-weight: bold;
}
